body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.header1 {
    background-color: #194236;
    font-family: 'Moneta', sans-serif;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header2 {
    background-color: #f79e36;
    font-family: 'Moneta', sans-serif;
    color: #194236;
    padding: 10px 0;
    text-align: center;
}

.topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4e3;
    padding: 5px 20px;
}

/* Make the search SVG smaller and vertically center it */
.search-icon {
    display: flex;
    align-items: center;
}
.search-icon img {
    width: 24px; /* desired visible size */
    height: auto; /* preserve aspect ratio */
    display: block;
}